var filters = {
  toFix: function(value) {
    if (value){
      return Number(value).toFixed(2);
    }else{
      return ''
    }
  },
  collectName: function (collect_status,pay_status) {
    switch (collect_status){
      case 1:
        return pay_status === 1 ? '待付款' :'待发货';
        break;
      case 2:
        return '待收货';
        break;
      case 3:
        return '确认收货';
        break;
      default:return '';break;
    }
  },
  collectDetailName: function (collect_status, pay_status) {
    switch (collect_status) {
      case 1:
        return pay_status === 1 ? '等待买家付款' : '等待卖家发货';
        break;
      case 2:
        return '商品已发货';
        break;
      case 3:
        return '商品已确认收货';
        break;
      default: return ''; break;
    }
  },
  collectDetailRemark: function (collect_status, pay_status, diff_cancel, diff_collect) {
    switch (collect_status) {
      case 1:
        return pay_status === 1 ? '还剩'+ diff_cancel+'天自动取消订单' : '卖家正在处理';
        break;
      case 2:
        return '还剩'+ diff_collect+'天自动确认收货';
        break;
      case 3:
        return '交易完成';
        break;
      default: return ''; break;
    }
  },
  collectClass: function (collect_status, pay_status) {
    switch (collect_status){
      case 1:
        return pay_status === 1 ? 'warning' :'blue';
        break;
      case 2:
        return 'blue';
        break;
      case 3:
        return 'success';
        break;
      default:return '';break;
    }
  },
}
module.exports = {
  toFix: filters.toFix,
  collectName:filters.collectName,
  collectClass:filters.collectClass,
  collectDetailName: filters.collectDetailName,
  collectDetailRemark: filters.collectDetailRemark
}